<main>
    <div>
      <h1>
        Main Section
      </h1>
  
      <form action="/submit" method="POST">
        <input type="text" name="todoItem" placeholder="Enter Todo">
        <button type="submit">Add</button>
      </form>
  
      <section>
        <% if (todoList.length) { %>
            <ul>
                <% todoList.forEach(todo => { %>
                  <li>
                    <form action="/edit/<%= todo.id %>" method="GET">
                        <input type="checkbox" />
                        <%= todo.item %>
                        <button type="submit">edit</button>
                    </form>
                    <form action="/delete/<%= todo.id %>" method="POST">
                        <button type="submit">delete</button>
                    </form>
                </li>
                  
                <% }) %>
              </ul>
        <% } else { %>
          <p>No items</p>
        <% } %>
      </section>
    </div>
  </main>
  